*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,button{
  outline: none;
}

.header{
  background-color: white;
  padding: 6px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  position: relative;
  z-index: 1;
}

.content{
  max-width: 1200px;
  margin: 0 auto;
}

.header .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  display: flex;
}

.menu{
  list-style-type: none;
}

.menu li{
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #667580;
}

.menu li img{
  margin-right: 7px;
}

.search{
  margin-right: 15px;
}

.search input{
  width: 220px;
  border: 1px solid #e6ecf0;
  border-radius: 16px;
  margin-right: 15px;
  padding: 0 30px 0 12px;
  font-size: 13px;
  color: #667580;
  background: #F5F8FA url('./images/search.svg') no-repeat 200px center;
}


.profile{
  border-radius: 50%;
  height: 34px;
  margin-right: 15px;
}


.button{
  border-style: none;
  border-radius: 16px;
  background-color: #55ACEE;
  padding: 8px 32px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.banner{
  height: 340;
  background-color: #55ACEE;
}

.banner img{
  width: 100%;
  max-height: 100%;
}

.bar {
  background-color: white;
  box-shadow: 0px 1px 1px  rgba(0,0,0,0.25);
}

.bar .content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 70px;
}

.barList{
  list-style: none;
  display: flex;
}

.barList li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px;
  color: #667580;
  position: relative;
}

.barList li span{
  font-size: 13px;
  font-weight: bold;
}

.barList li strong{
  font-size: 18px;
}

div.bar .content ul li.active strong{
  color: #3BB9E3;
}

div.bar .content ul li.active::after{
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3BB9E3;
}

.bar div{
  display: flex;
  align-items: center;
}

.follow{
  background-color: white;
  border: 1px solid #55ACEE;
  color: #55ACEE;
  margin-right: 15px;
}

div.body{
  display: flex;
}

aside.info{
  width: 230px;
  display: flex;
  flex-direction: column;
}

.avatar{
  border-radius: 50%;
  border: 6px solid white;
  width: 200px; 
  height: 200px;
  margin-top: -140px;
}

aside.info strong{
  font-size: 21px;
}

aside.info span{
  font-size: 13px;
  color: #667580;
}

aside.info .description{
  color: black;
  margin-top:15px;
  margin-bottom:15px;
}

aside.info ul{
  list-style: none;
}

aside.info li{
  display: flex;
  align-items: center;
  margin-top:5px;
}

aside.info li img{
  margin-right:5px;
}

div.followersAndPhotos {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

div.followersAndPhotos .title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

div.followersAndPhotos .title img{
  margin-right: 5px;
}

div.followersAndPhotos .title strong{
  color: #3BB9E3;
  font-size: 14px;
  font-weight: normal;
}

.followersAvatar,.photos{
  display: flex;
  flex-wrap: wrap;
}

.followersAvatar div{
  background-color: #D0D5D9;
  border-radius: 50%;
  margin: 5px 5px 5px 0;
  height: 41px;
  width: 41px;
}

.photos div{
  background-color: #D0D5D9;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  height: 46px;
  width: 71px;
}